{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Fuzzy form</title>
</head>
<body style="padding: 20px">
    {% crispy form form.helper %}
    {% if output_mamdani is not None and output_sugeno is not None %}
        <div class="container" style="padding: 20px">
            <div class="row">
                <div class="col-sm-4">
                    <div class="list-group-item">Алгоритм Мамдани</div>
                </div>
                <div class="col-sm-8">
                    <div class="list-group-item">{{ output_mamdani }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="list-group-item">Алгоритм Сугено</div>
                </div>
                <div class="col-sm-8">
                    <div class="list-group-item">{{ output_sugeno }}</div>
                </div>
            </div>
        </div>
    {% endif %}
</body>
</html>